.container{
    background-color: rgb(0, 0, 0);
    width: 90%;
    height: auto;
    margin: auto;
    padding: 1%;
    overflow: hidden;
}
.box{
    width: 100%;
    height: 50px ;
   
}
.logo{
    width: 8%;
    height: 65px;
    margin: auto;
    margin-left: 20px;
    float: left;
    background-image: url(./Images/Logo1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.logoname{
    width: 13%;
    height:40px;
    margin: auto;
    margin-top: 10px;
    float: left;
    background-image: url(./Images/logoname.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.header{
    width: 75%;
    height: 50px;
    margin-left:5px;
    float: right;  
    text-align: center;
}
.header ul li{
    display: inline;
}
.header ul li a{
    padding: 8px 8px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.header ul li a:hover{
    color: black;
    background-color: white;
    border-radius: 50px;
}
.img21{
    background-image: url(./Images/img21.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 120px;
    margin: auto;
    margin-top: 20px;
}
.options{
    width: 65%;
    height:50px;
    margin: auto;
    position: sticky;
}
.options li a {
    display: block;
    color: #000;
    padding: 8px 10px;
}
.options ul li {
    list-style-type: none;
  }
.options li a:hover {
    background-color: #555;
    color: white;
}
.dropbtn {
    background-color: #079cff;
    color: white;
    padding: 6px 8px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin: 0px 5px 0px 5px;
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
}  
.dropdown-content a {
    color: black;
    text-decoration: none;  
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}  
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.ad1{
    border-bottom: 1px solid white;
    width: 98%;
    height: 280px;
    padding: 1%;
    margin: auto;
}
.box1{
    width: 200px;
    height: 270px;
    margin:auto;
    margin:0px 10px 0px 100px;
    padding: 1px; 
    float: left;
}
.innerbox1{
    background-image: url(./Images/img18.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 190px;
    height: 200px;
    margin: auto;
}
.text{
    color: white;
    width: 170px;
    height: 75px;
    margin: 10px auto;
    text-align: center;
}
span{
    color: rgb(83, 255, 4);
    padding: 2px;
}
.box2{
    width: 200px;
    height: 270px;
    margin:0px 10px 0px 10px;
    padding: 1px; 
    float: left;
    
}
.innerbox2{
    background-image: url(./Images/img18.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 190px;
    height: 200px;
    margin: auto;
}
.box3{
    width: 200px;
    height: 270px;
    margin:auto;
    margin:0px 10px 0px 10px;
    padding: 1px; 
    float: left;
    
}
.innerbox3{
    background-image: url(./Images/img18.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 190px;
    height: 200px;
    margin: auto;
}
.box4{
    width: 200px;
    height: 270px;
    margin:auto;
    margin:0px 10px 0px 10px;
    padding: 1px; 
    float: left;
    
}
.innerbox4{
    background-image: url(./Images/img18.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 190px;
    height: 200px;
    margin: auto;
}
.band{
    width: 100%;
    height: 500px;
    background-color: rgb(206, 206, 206);
    margin: auto;
}
.bandtop{
    background-color: rgb(206, 206, 206);
    margin: auto;
    text-align: center;
    padding: 20px;
    
}
.img23{
    width: 50%;
    height: 500px;
    margin: auto;
    background-image: url(./Images/img22.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    float: left;
}
.babout{
    width: 49%;
    height: 500px;
    margin: auto;
    float: left;
    background-image: url(./Images/img23.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.banddown{
    background-color: rgb(206, 206, 206);
    width: 100%;
    height: 400px;
    background-image: url(./Images/img24.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer{
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
    width: 100%;
    height: 180px;
    margin: 5px auto;
  }
  .f1{
    width: 70px;
    height: 170px;
    margin: 4px 4px auto;
    padding: 1%;
    float: left;
  }
  .f1 a{
    display: inline-block;
    padding: 2px ;
    text-decoration: none;
    color: white;
    font-size: 12px;
  }
  .f1 a:hover{
    text-decoration: underline;
  }
  .f2{
    width: 300px;
    padding: 1%;
    height: 150px;
    float: left;
    margin: 4px 4px auto;
    color: white;
    text-align: left;
    font-size: 14px;
  }
  .logobox{
    width: 300px;
    padding: 1%;
    height: 150px;
    float: left;
    margin: 4px 6px auto;
    background-image: url(./Images/logodesign.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
